body {
    padding: 0;
    margin: 0;
    background-color: #F5F5F5;
    min-width: 400px;
    position: relative;
}

header {
    position: fixed;
    display: block;
    top: 0;
    width: 100%;
    height: 52px;
    background-color: #2a5885;

}

footer {
    display: flex;
    background-color: #F5F5F5;
    width: 100%;
    border-top: 6px solid #2a5885;
    height: 89px;
    justify-content: space-between;
    align-items: center;
}

#main{
    display: flex;
    flex-direction: column;
    padding-top: 52px;
    width: 75%;
}

#login{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 650px;
}

.container {
    width: 1150px;
    margin: 0 auto;
}

.logo {
    margin: 9px;
    padding: 0;
    float: left;
}

.my-flex-block{
    border:2px;
}

.my-flex-container {
    display: grid;
    grid-gap: 47px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 30px 60px;
}

.photo {
    width: 100%;
    height: 300px;
}

.shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.top_margin {
    font-style: italic;
    color: #2a5885;
    background-color: #FFFFFF;
    height: 20px;
    padding: 0 10px;
}

.bottom_margin {
    align-items: center;
    background-color: #FFFFFF;
    display: flex;
    height: 57px;
    margin-top: -4px;
    padding: 0 10px;
}

.date {
    size: 12px;
    color: #A9A9A9;
    float: right;
}

.material-icons.md-48 {
    font-size: 48px;
}

.like {
    color: #A9A9A9;
    cursor: pointer;
}

.like:hover {
    color: #FF0000;
}

.likered{
     color: #FF0000;
     cursor: pointer;
}

.likered:hover {
    color: #A9A9A9;
}

.comments {
    background-color: #FFFFFF;
    color: #4682B4;
    font: 40 20px "Georgia", sans-serif;
    padding: 0 25px 10px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10px;
}

.hashtags {
    color: #0000CD;
    margin: 0;
    font: bold italic 100% serif;
}

.edit {
    color: #A9A9A9;
    font-size: 48px;
    cursor: pointer;
}

.edit:hover {
    color: #2a5885;
}

.filter {
    display: none;
    position: fixed;
    margin-top: 0;
    margin-left: 75%;
    margin-right: 17%;
    width: 300px;
}

.input_name {
    margin: 2.5% 0 2.5% 0;
    color: #000000;
    border: 2px solid #2a5885;
    border-radius: 2px;
    width: 200px;
}

.filter_text {
    margin-bottom: 0;
    margin-top: 10%;
    color: #2a5885;
    font-size: 70px;
}

.add {
    color: #FFFFFF;
    height: 52px;
    cursor: pointer;
}

/*.add:hover {
    background-color: #FFFFFF;
}*/

.exit {
    color: #FFFFFF;
    height: 52px;
    float: right;
    margin-right: 4%;
    cursor: pointer;
}

/*.exit:hover {
    background: #FFFFFF;
}*/

.signin{
    color: #FFFFFF;
    height: 52px;
    float: right;
    margin-right: 4%;
    cursor: pointer;
}

.exit:hover {
    background: #2a5885;
}

.username {
    margin: 10px 10px auto auto;
    font-size: 150%;
    color: #FFFFFF;
    float: right;
}

.load_more {
    display: none;
    margin: 0 50% 20px 50%;
    background: #F5F5F5;
    width: 20%;
    height: 10%;
    font-size: 30px;
    color: #2a5885;
    margin-bottom: 20px;
    border: 2px solid #2a5885;
    border-radius: 2px;
    min-width: 100px;
    cursor: pointer;
}

.load_more:hover {
    background: #2a5885;
    border: 2px solid #2a5885;
    color: #FFFFFF;
}

.blink1 {
    -webkit-animation: blink1 3s linear infinite;
    animation: blink1 3s linear infinite;
    font-size: 300%;
    background: none;
    width: 40%;
}

@-webkit-keyframes blink1 {
    0% {
        color: rgba(34, 34, 34, 1);
    }
    50% {
        color: rgba(34, 34, 34, 0);
    }
    100% {
        color: rgba(34, 34, 34, 1);
    }
}

@keyframes blink1 {
    0% {
        color: rgba(34, 34, 34, 1);
    }
    50% {
        color: rgba(34, 34, 34, 0);
    }
    100% {
        color: rgba(34, 34, 34, 1);
    }
}

.author {
    margin: 10px 0 auto auto;
    font-size: 100%;
    padding-left: 30%;
    color: #2a5885;
}

.date_footer {
    margin: 2% auto auto 17%;
    align-self: auto;
    font-size: 100%;
    color: #003748c0;
}

.name_footer {
    margin: 2% auto auto 17%;
    align-self: auto;
    font-size: 100%;
    color: #003748c0;
}

@media screen and (max-width: 1000px) {
    .filter {
        margin: 0;
        position: fixed;
        height: 3%;
        padding: 0px 0px 10px 0px;
        width: 100%;
    }

    .filter_text {
        display: none;
    }

    .input_name {
        margin: 0 20px 0 20px;
    }

    .my-flex-container {
        margin-left: 18%;
    }
}

@media screen and (max-width: 740px) {
    .input_name {
        margin: 0 10px 0 10px;
    }

    .blink1{
        margin-left: 20%;
    }

    .date_footer{
        display: none;
    }

    .name_footer {
        display: none;
    }
}

@media screen and (max-width: 680px) {
    .input_name {
        margin: 0 5px 0 5px;
    }
}

@media screen and (max-width: 650px) {
    .input_name {
        margin: 0;
    }
}

@media screen and (max-width: 620px) {
    .input_name {
        width: 30%;
    }

    .my-flex-container {
        margin-left: 0%;
    }
}

#login-form {
    background-color: #ADD8E6;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 90px auto;
    width: 300px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  -webkit-box-shadow:  0px 10px 20px 0px rgba(0, 0, 0, 0.3);
   box-shadow:  0px 10px 20px 0px rgba(0, 0, 0, 0.3);
   margin-bottom: 300px;

}

#login-form h1 {
    background-color: #2a5885;
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    color: #fff;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

#login-form fieldset {
    border: none;
    padding: 20px;
    position: relative;
}


#login-form fieldset form {
    overflow: hidden;
    width: 270px;
}

#login-form fieldset form input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    outline: none;
  -webkit-appearance:none;
  width: 260px;
  align: center;
  position: center;

}

#login-form fieldset form input[class="email"] {
    border: 1px solid #292829;
    color: #C0C0C0;
    border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    padding: 12px 10px;
    width: 238px;
  -webkit-appearance:none;
}

#login-form fieldset form input[class="password"] {
    border: 1px solid #292829;
    border-top: none;
     color: #C0C0C0;
    border-radius: 0px 0px 3px 3px;
    -moz-border-radius: 0px 0px 3px 3px;
    -webkit-border-radius: 0px 0px 3px 3px;
    padding: 12px 10px;
    width: 238px;
  -webkit-appearance:none;
}

#login-form fieldset form input[type="submit"] {
    background-color: #FFFFFF;
    border: 1px solid black;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color:  #2a5885;
    cursor: pointer;
    float: none;
    font-weight: bold;
    margin-top: 20px;
    padding: 12px 12px;
    -webkit-appearance: none;
}

#login-form fieldset form input[type="submit"]:hover {
    background-color: #2a5885;
    color: #FFFFFF;
}
