body {
    padding: 0;
    margin: 0;
    background-color: #F5F5F5;
    min-width: 400px;
    position: relative;
}

header {
    position: fixed;
    display: block;
    top: 0;
    width: 100%;
    height: 52px;
    background-color: #4682B4;

}

footer {
    display: flex;
    background-color: #F5F5F5;
    width: 100%;
    border-top: 6px solid #2a5885;
    flex: 0 1 auto;
    height: 89px;
    justify-content: space-between;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    padding-top: 52px;
    width: 75%;
}

.container {
    width: 1150px;
    margin: 0 auto;
}

.logo {
    margin: 9px;
    padding: 0;
    float: left;
}

.my-flex-container {
    display: grid;
    grid-gap: 47px;
    grid-template-columns: repeat(auto-fill, minmax(299px, 1fr));
    padding: 30px 60px;
}

.photo {
    width: 100%;
    height: 300px;
}

.shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.top_margin {
    font-style: italic;
    color: #2a5885;
    background-color: #FFFFFF;
    height: 20px;
    padding: 0 10px;
}

.bottom_margin {
    align-items: center;
    background-color: #FFFFFF;
    display: flex;
    height: 57px;
    margin-top: -4px;
    padding: 0 10px;
}

.date {
    size: 12px;
    color: #A9A9A9;
    float: right;
}

.material-icons.md-48 {
    font-size: 48px;
}

.like {
    color: #A9A9A9;
    cursor: pointer;
}

.like:hover {
    color: #FF0000;
}

.comments {
    background-color: #FFFFFF;
    color: #4682B4;
    font: 40 20px "Georgia", sans-serif;
    padding: 0 25px 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.hashtags {
    color: #0000CD;
    margin: 0;
    font: bold italic 100% serif;
}

.edit {
    color: #A9A9A9;
    font-size: 48px;
    cursor: pointer;
}

.edit:hover {
    color: #2a5885;
}

.filter {
    position: fixed;
    margin-top: 0;
    margin-left: 75%;
    margin-right: 17%;
    width: 300px;
}

.input_name {
    margin: 2.5% 0 2.5% 0;
    color: #000000;
    border: 2px solid #2a5885;
    border-radius: 2px;
    width: 200px;
}

.filter_text {
    margin-bottom: 0;
    margin-top: 10%;
    color: #2a5885;
    font-size: 70px;
}

.add {
    color: #FFFFFF;
    height: 52px;
    cursor: pointer;
}

.add:hover {
    background: #2a5885;
}

.exit {
    color: #FFFFFF;
    height: 52px;
    float: right;
    margin-right: 4%;
    cursor: pointer;
}

.exit:hover {
    background: #2a5885;
}

.username {
    margin: 10px 10px auto auto;
    font-size: 150%;
    color: #FFFFFF;
    float: right;
}

.load_more {
    margin: 0 50% 20px 50%;
    background: #F5F5F5;
    width: 20%;
    height: 10%;
    font-size: 30px;
    color: #2a5885;
    border: 2px solid #2a5885;
    border-radius: 2px;
    min-width: 100px;
    cursor: pointer;
}

.load_more:hover {
    background: #2a5885;
    border: 2px solid #2a5885;
    color: #FFFFFF;
}

.blink1 {
    -webkit-animation: blink1 3s linear infinite;
    animation: blink1 3s linear infinite;
    font-size: 300%;
    background: none;
    width: 40%;
}

@-webkit-keyframes blink1 {
    0% {
        color: rgba(34, 34, 34, 1);
    }
    50% {
        color: rgba(34, 34, 34, 0);
    }
    100% {
        color: rgba(34, 34, 34, 1);
    }
}

@keyframes blink1 {
    0% {
        color: rgba(34, 34, 34, 1);
    }
    50% {
        color: rgba(34, 34, 34, 0);
    }
    100% {
        color: rgba(34, 34, 34, 1);
    }
}

.author {
    margin: 10px 0 auto auto;
    font-size: 100%;
    padding-left: 30%;
    color: #2a5885;
}

.date_footer {
    margin: 2% auto auto 17%;
    align-self: auto;
    font-size: 100%;
    color: #003748c0;
}

.name_footer {
    margin: 2% auto auto 17%;
    align-self: auto;
    font-size: 100%;
    color: #003748c0;
}

@media screen and (max-width: 1000px) {
    .filter {
        margin: 0;
        position: fixed;
        height: 3%;
        padding: 0px 0px 10px 0px;
        width: 100%;
    }

    .filter_text {
        display: none;
    }

    .input_name {
        margin: 0 20px 0 20px;
    }

    .my-flex-container {
        margin-left: 18%;
    }
}

@media screen and (max-width: 740px) {
    .input_name {
        margin: 0 10px 0 10px;
    }

    .name_footer {
        display: none;
    }
}

@media screen and (max-width: 680px) {
    .input_name {
        margin: 0 5px 0 5px;
    }
}

@media screen and (max-width: 650px) {
    .input_name {
        margin: 0;
    }
}

@media screen and (max-width: 620px) {
    .input_name {
        width: 30%;
    }

    .my-flex-container {
        margin-left: 0%;
    }
}





